html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}



.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


body{
    font-family: 'Roboto', sans-serif;
    color: var(--brand-black-color);
}

:root{
    --brand-black-color: #434455;
    --black-color: #2E2F42;
    --blue-color: #4D5AE5;
    --blue-color-2: #404BBF;
    --white-color: #FFFFFF;
    --white-color-2: #F4F4FD;
    --white-footer-color: #E7E9FC;
}

.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-logo{
    text-decoration: none;
}

.nav-logo-web {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24/18);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--blue-color);
}

.nav-logo-studio {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24/18);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black-color);
}


.list-studio{
    list-style: none;
    display: flex;
    margin-left: 77px;
}


.studio-title{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--black-color);
    text-decoration: none;
}
.studio-title:hover, 
.studio-title:focus,
.studio-title:active{
    color: var(--blue-color);
}

.list-studio .item +.item{
    margin-left: 40px;
}


.list-contacts{
    list-style: none;
    display: flex;
    margin-left: auto;

}
.contacts-title{
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
    text-decoration: none;
    list-style: none;
}
.contacts-title:hover,
.contacts-title:focus,
.contacts-title:active{
    color: var(--blue-color);
}
.list-contacts .item+.item{
    margin-left: 40px;
}



.background{
    background-color: var(--black-color);
}
.title-solutions {
    font-weight: 700;
    font-size: 56px;
    line-height: calc(60/56);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
    width: 492px;
    padding: 0 auto;
}

.button-order-service {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.04em;
    color: var(--white-color);
    cursor: pointer;
    background-color: var(--blue-color);
    display: block;
    margin: 0 auto;

    
    
}
.button-order-service:hover,
.button-order-service:focus,
.button-order-service:active{
    background-color: var(--blue-color-2);
}



.visually-hidden-skills {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
} 


.list-skills{
    list-style: none;
    display: flex;
    margin-top: 120px;
}
.title-skills{
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: var(--black-color);
    margin-bottom: 8px;
}
.text-skills{
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
}



.title-doing {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--black-color);
}
.studio-images-1{
    list-style: none;
    display: flex;
}



.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--black-color);
}
.studio-images-2{
    list-style: none;
    display: flex;
}
.background-studio-people-1{
    background-color: var(--white-color-2);
}
.background-studio-people-2{
    background-color: var(--white-color);
}

.name-person {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--black-color);
}
.text-person {
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
}

.footer-logo{
    text-decoration: none;
}

.nav-logo-web-2 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21/18);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--blue-color);

}
.nav-logo-studio-2 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21/18);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color-2);

}
.text-footer {
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--white-footer-color);
    width: 264px;
    height: 72px;

}
.background-footer{
    background-color: var(--black-color);
}








.list-buttons{
    list-style: none;
    display: flex;
    justify-content: center;
}
.buttons{
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(24/16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--blue-color);
    cursor: pointer;
    background-color: var(--white-color-2);
}
.buttons:hover,
.buttons:focus,
.buttons:active{
    color: var(--white-color);
    background-color: var(--blue-color-2);
}



.title-portfolio-main{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--black-color);
}
.visually-hidden-skills {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  } 


.portfolio-images-row-1{
    list-style: none;
    display: flex;
}
.portfolio-images-row-2{
    list-style: none;
    display: flex;
}
.portfolio-images-row-3{
    list-style: none;
    display: flex;
}

.portfolio-image-title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--black-color);
}
.portfolio-image-text {
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
}





