html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}



.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


body{
    font-family: 'Roboto', sans-serif;
    color: var(--brand-black-color);
}

:root{
    --brand-black-color: #434455;
    --black-color: #2E2F42;
    --blue-color: #4D5AE5;
    --blue-color-2: #404BBF;
    --white-color: #FFFFFF;
    --white-color-2: #F4F4FD;
    --white-footer-color: #E7E9FC;
}

.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 72px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo{
    text-decoration: none;
}

.nav-logo-web {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24/18);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--blue-color);
}

.nav-logo-studio {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24/18);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black-color);
}


.list-studio{
    list-style: none;
    display: flex;
    margin-left: 77px;
}


.studio-title{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--black-color);
    text-decoration: none;
}
.studio-title:hover, 
.studio-title:focus,
.studio-title:active{
    color: var(--blue-color);
}

.list-studio .item +.item{
    margin-left: 40px;
}


.list-contacts{
    list-style: none;
    display: flex;
    margin-left: auto;

}
.contacts-title{
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
    text-decoration: none;
    list-style: none;
}
.contacts-title:hover,
.contacts-title:focus,
.contacts-title:active{
    color: var(--blue-color);
}
.list-contacts .item+.item{
    margin-left: 40px;
}

.container-background{
    max-width: 1440px;
    height: 583px;
    text-align: center;
    padding-top: 192px;
    padding-bottom: 192px;
    margin: 0 auto;
}
.background{
    background-color: var(--black-color);
}


.title-solutions {
    font-weight: 700;
    font-size: 56px;
    line-height: calc(60/56);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

.button-order-service {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.04em;
    color: var(--white-color);
    cursor: pointer;
    background-color: var(--blue-color);
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.button-order-service:hover,
.button-order-service:focus,
.button-order-service:active{
    background-color: var(--blue-color-2);
}


.container-skills{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

.visually-hidden-skills {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
} 


.list-skills{
    list-style: none;
    display: flex;
    margin-top: 120px;
    padding-left: 0;
    padding-right: 0;
    gap: 8px;
}

.skill:not(:last-child){
    margin-right: 24px;
}

.title-skills{
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: var(--black-color);
    margin-bottom: 8px;
}
.text-skills{
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
}



.container-doing{
    margin-top: 120px;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.title-doing {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--black-color);
    margin-bottom: 72px;
}
.studio-images-1{
    list-style: none;
    display: flex;
    justify-content: center;
}

.studio-images-1 .image+.image{
    margin-right: 24px;
    margin-left: 24px;
}



.container-people{
    padding-top: 120px;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--black-color);
}
.studio-images-2{
    list-style: none;
    display: flex;
    justify-content: center;
}

.background-studio-people-1{
    background-color: var(--white-color-2);
}
.background-studio-people-2{
    background-color: var(--white-color);
}
.image-person{
    background-color: var(--white-color);
    margin-bottom: 120px;
}
.image-person:not(:last-child){
    margin-right: 24px;
}

.name-person {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--black-color);
}
.text-person {
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
}





.footer-logo{
    text-decoration: none;
}

.nav-logo-web-2 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21/18);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--blue-color);

}
.nav-logo-studio-2 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21/18);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color-2);

}
.text-footer {
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--white-footer-color);
    width: 264px;
    height: 72px;

}
.background-footer{
    background-color: var(--black-color);
}








.list-buttons{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 96px;
    margin-bottom: 72px;
    gap: 24px;
}
.buttons{
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(24/16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--blue-color);
    cursor: pointer;
    background-color: var(--white-color-2);
    margin-right: 24px;
}
.buttons:hover,
.buttons:focus,
.buttons:active{
    color: var(--white-color);
    background-color: var(--blue-color-2);
}





.title-portfolio-main{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--black-color);
}
.visually-hidden-skills {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  } 


.portfolio-images{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-right: 0;
    padding-left: 0;
}
.image{
    margin-right: 24px;
    margin-bottom: 48px;
}
.image:nth-child(3n){
    margin-right: 0;
}
image:nth-last-child(-n + 3){
    margin-bottom: 0;
}

.portfolio-image-title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--black-color);
    margin-top: 32px;
}
.portfolio-image-text {
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
    margin-top: 8px;
}





